extends base.pug 

block scripts 
    script(src="/static/index.js")

block style 
    style 
        include ../static/style.css

block content 
    section#introSection
            div#heading 
                h1 Welcome To Dance Website
            div#small
                h1 Eat | Dance | Sleep | Repeat

    section#ourMission 
        h2 Our Mission 
        div.card 
            h3 Heading h3
            div.card-box 
                div.card-img 
                    img(src="/static/img/1-Resize.png", alt="")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetuLorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quibusdam.
        div.card 
            h3 Heading h3
            div.card-box 
                div.card-img 
                    img(src="/static/img/2-Resize.png", alt="")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quibusdam.
        div.card 
            h3 Heading h3
            div.card-box 
                div.card-img 
                    img(src="/static/img/3-Resize.png", alt="")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quibusdam.
       
    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors 
            img(src="/static/img/htmlcss.png", alt="Logo" Class="spImage")
            img(src="/static/img/nodejs.png", alt="Logo" Class="spImage")
            img(src="/static/img/expressjs.png", alt="Logo" Class="spImage")
            img(src="/static/img/pug.png", alt="Logo" Class="spImage")