@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo{
    display: flex;
    align-items: center;
    margin: 0px 14px;
}

#logo img{
    height: 40px;
    padding-right: 2px;
}

#navbar{
    background-color: white;
    padding: 18px 10px;
    font-family: 'Poppins', sans-serif;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: #111111;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 10px;
    text-transform: uppercase;
}

#introSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 60px;
    background: url(../static/img/bg.jpg) no-repeat center center/cover;
    height: 100vh;   
}

#small{
    font-size: 30px;
}

#ourMission{
    height: 400px;
    margin: auto;
}

 h2{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 45px;
    padding: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.card{
    
    border: 2px solid black;
    border-radius: 8px;
    display: inline-block;
    width: 30%;
    margin: 22px;
    height: 220px;
    padding-top: 10px;
}
.card h3{
    text-align: center;
    color: black;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-top: 12px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 100px;
    margin: 5px 9px;
}

.card-img img{
    height: 150px;
}

.card-content{
padding: 0 10px;
margin-right: 10px;
}

.card-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


#sponsorsSection{
    height: 330px;
    background: rgb(58,140,180);
    background: linear-gradient(90deg, rgba(58,140,180,0.9948354341736695) 0%, rgba(253,92,29,0.958420868347339) 100%, rgba(252,176,69,1) 100%);
}

#sponsorsSection h2{
    padding-top: 40px;
}

#sponsors {
    display: flex;
    height: 140px;
    margin: auto;
}

.spImage{
    height: 140;
    margin: auto;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}